examples/钉钉-基础-AI表格操作.json
{
  "name": "钉钉-基础-AI表格操作",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        176,
        0
      ],
      "id": "dd00d011-b6dc-4b2c-851f-f267b23a6111",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "notable",
        "operation": "notable.sheet.create",
        "baseId": "={{ $json.baseId }}",
        "operatorId": "={{ $('用户管理 查询用户详情').item.json.unionid }}",
        "body": "={\"name\":\"{{ $now }}\"}"
      },
      "type": "CUSTOM.dingtalkNode",
      "typeVersion": 1,
      "position": [
        1184,
        -352
      ],
      "id": "450de4e9-9fb7-4dd5-a15f-aa8b9d3169fd",
      "name": "AI表格 新建数据表",
      "credentials": {
        "dingtalkApi": {
          "id": "mEh0ffWLDuvnPoI3",
          "name": "Dingtalk account"
        }
      }
    },
    {
      "parameters": {
        "resource": "notable",
        "operation": "notable.parseUrl"
      },
      "type": "CUSTOM.dingtalkNode",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "08663a7c-7c0a-4f6d-af37-2ebc8a6ea6e8",
      "name": "AI表格 解析URL",
      "credentials": {
        "dingtalkApi": {
          "id": "mEh0ffWLDuvnPoI3",
          "name": "Dingtalk account"
        }
      }
    },
    {
      "parameters": {
        "resource": "notable",
        "operation": "notable.sheet.get",
        "baseId": "={{ $json.baseId }}",
        "sheetIdOrName": "={{ $json.sheetId }}",
        "operatorId": "={{ $('用户管理 查询用户详情').item.json.unionid }}"
      },
      "type": "CUSTOM.dingtalkNode",
      "typeVersion": 1,
      "position": [
        1184,
        -768
      ],
      "id": "c2014ecc-c98a-41a3-b53b-bdb27a346c87",
      "name": "AI表格 获取数据表",
      "credentials": {
        "dingtalkApi": {
          "id": "mEh0ffWLDuvnPoI3",
          "name": "Dingtalk account"
        }
      }
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "user.get"
      },
      "type": "CUSTOM.dingtalkNode",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "da8c6f6c-ffa2-48c2-aea3-bbc91478e8d8",
      "name": "用户管理 查询用户详情",
      "credentials": {
        "dingtalkApi": {
          "id": "mEh0ffWLDuvnPoI3",
          "name": "Dingtalk account"
        }
      }
    },
    {
      "parameters": {
        "resource": "notable",
        "operation": "notable.sheet.delete",
        "baseId": "={{ $('AI表格 解析URL').item.json.baseId }}",
        "sheetIdOrName": "={{ $json.id }}",
        "operatorId": "={{ $('用户管理 查询用户详情').item.json.unionid }}"
      },
      "type": "CUSTOM.dingtalkNode",
      "typeVersion": 1,
      "position": [
        1824,
        -352
      ],
      "id": "2e46516c-cd9b-48e7-9683-2b465fe12926",
      "name": "AI表格 删除数据表",
      "credentials": {
        "dingtalkApi": {
          "id": "mEh0ffWLDuvnPoI3",
          "name": "Dingtalk account"
        }
      }
    },
    {
      "parameters": {
        "resource": "notable",
        "operation": "notable.sheet.getAll",
        "baseId": "={{ $json.baseId }}",
        "operatorId": "={{ $('用户管理 查询用户详情').item.json.unionid }}"
      },
      "type": "CUSTOM.dingtalkNode",
      "typeVersion": 1,
      "position": [
        1184,
        -560
      ],
      "id": "31e35e39-d02b-47e0-8158-b9c60a72563e",
      "name": "AI表格 获取所有数据表",
      "credentials": {
        "dingtalkApi": {
          "id": "mEh0ffWLDuvnPoI3",
          "name": "Dingtalk account"
        }
      }
    },
    {
      "parameters": {
        "resource": "notable",
        "operation": "notable.sheet.update",
        "baseId": "={{ $('AI表格 解析URL').item.json.baseId }}",
        "sheetIdOrName": "={{ $json.id }}",
        "operatorId": "={{ $('用户管理 查询用户详情').item.json.unionid }}",
        "body": "={\"name\":\"{{ $now }}\"}"
      },
      "type": "CUSTOM.dingtalkNode",
      "typeVersion": 1,
      "position": [
        1536,
        -352
      ],
      "id": "758d4c9f-2fb8-4416-97b5-e2469226efd7",
      "name": "AI表格 更新数据表",
      "credentials": {
        "dingtalkApi": {
          "id": "mEh0ffWLDuvnPoI3",
          "name": "Dingtalk account"
        }
      }
    },
    {
      "parameters": {
        "resource": "notable",
        "operation": "notable.record.insert",
        "baseId": "={{ $json.baseId }}",
        "sheetIdOrName": "={{ $json.sheetId }}",
        "operatorId": "={{ $('getUnionId').item.json.unionId }}",
        "body": "={\"records\":[{\"fields\":{\"标题\":\"{{ $now }}\"}}]}"
      },
      "type": "CUSTOM.dingtalkNode",
      "typeVersion": 1,
      "position": [
        1184,
        160
      ],
      "id": "a8cb0227-1ca9-4cdc-bc29-616b1a3d0786",
      "name": "AI表格 新增记录",
      "credentials": {
        "dingtalkApi": {
          "id": "mEh0ffWLDuvnPoI3",
          "name": "Dingtalk account"
        }
      }
    },
    {
      "parameters": {
        "resource": "notable",
        "operation": "notable.record.getAll",
        "baseId": "={{ $('AI表格 解析URL').item.json.baseId }}",
        "sheetIdOrName": "={{ $('AI表格 解析URL').item.json.sheetId }}",
        "operatorId": "={{ $('getUnionId').item.json.unionId }}",
        "body": "{}"
      },
      "type": "CUSTOM.dingtalkNode",
      "typeVersion": 1,
      "position": [
        1184,
        0
      ],
      "id": "146d8408-e99b-4937-ae9e-6389edcb904c",
      "name": "AI表格 列出多行记录",
      "credentials": {
        "dingtalkApi": {
          "id": "mEh0ffWLDuvnPoI3",
          "name": "Dingtalk account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f376ea14-61e7-489a-8cc9-561ce63f8c96",
              "name": "unionId",
              "value": "={{ $json.unionid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        0
      ],
      "id": "16c6f9d7-6a2b-40de-bb48-d0292d0d6f6c",
      "name": "getUnionId"
    },
    {
      "parameters": {
        "resource": "notable",
        "operation": "notable.record.update",
        "baseId": "={{ $('AI表格 解析URL').item.json.baseId }}",
        "sheetIdOrName": "={{ $('AI表格 解析URL').item.json.sheetId }}",
        "operatorId": "={{ $('getUnionId').item.json.unionId }}",
        "body": "={\"records\":[{\"id\":\"{{ $('AI表格 新增记录').item.json.value[0].id }}\",\"fields\":{\"标题\":\"新标题\"}}]}"
      },
      "type": "CUSTOM.dingtalkNode",
      "typeVersion": 1,
      "position": [
        1536,
        160
      ],
      "id": "9bfbd084-c04c-4bc5-997c-c58235eaba6d",
      "name": "AI表格 更新记录",
      "credentials": {
        "dingtalkApi": {
          "id": "mEh0ffWLDuvnPoI3",
          "name": "Dingtalk account"
        }
      }
    },
    {
      "parameters": {
        "resource": "notable",
        "operation": "notable.record.delete",
        "baseId": "={{ $('AI表格 解析URL').item.json.baseId }}",
        "sheetIdOrName": "={{ $('AI表格 解析URL').item.json.sheetId }}",
        "operatorId": "={{ $('getUnionId').item.json.unionId }}",
        "body": "={\"recordIds\":[\"{{ $('AI表格 新增记录').item.json.value[0].id }}\"]}"
      },
      "type": "CUSTOM.dingtalkNode",
      "typeVersion": 1,
      "position": [
        1824,
        160
      ],
      "id": "4e695139-6c36-47e4-b968-7d7c1e48e610",
      "name": "AI表格 删除多行记录",
      "credentials": {
        "dingtalkApi": {
          "id": "mEh0ffWLDuvnPoI3",
          "name": "Dingtalk account"
        }
      }
    },
    {
      "parameters": {
        "resource": "notable",
        "operation": "notable.record.get",
        "baseId": "={{ $('AI表格 解析URL').item.json.baseId }}",
        "sheetIdOrName": "={{ $('AI表格 解析URL').item.json.sheetId }}",
        "recordId": "={{ $json.value[0].id }}",
        "operatorId": "={{ $('getUnionId').item.json.unionId }}"
      },
      "type": "CUSTOM.dingtalkNode",
      "typeVersion": 1,
      "position": [
        1536,
        0
      ],
      "id": "fcbee36b-b409-4f75-9f74-da4e470195f7",
      "name": "AI表格 获取记录",
      "credentials": {
        "dingtalkApi": {
          "id": "mEh0ffWLDuvnPoI3",
          "name": "Dingtalk account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI表格 - 数据表操作",
        "height": 688,
        "width": 1008
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1088,
        -864
      ],
      "id": "e794611a-966e-4741-8066-574c3f88c955",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## AI表格 - 记录操作",
        "height": 480,
        "width": 1008,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1088,
        -128
      ],
      "id": "2764711b-5979-4750-9283-16425d8bbb74",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## AI表格 - 辅助工具\n通过[用户管理 查询用户详情]和[AI表格 解析URL]简化后续操作",
        "height": 256,
        "width": 608,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        -96
      ],
      "id": "09674d0c-2d78-473b-a1e9-1631277d61fb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "resource": "auth",
        "operation": "auth.token.get"
      },
      "type": "CUSTOM.dingtalkNode",
      "typeVersion": 1,
      "position": [
        400,
        240
      ],
      "id": "aaf5f43c-01f0-45f4-b81a-c89c91acabdf",
      "name": "应用授权 获取当前应用的 Access Token",
      "credentials": {
        "dingtalkApi": {
          "id": "mEh0ffWLDuvnPoI3",
          "name": "Dingtalk account"
        }
      }
    },
    {
      "parameters": {
        "resource": "notable",
        "operation": "notable.field.getAll",
        "baseId": "={{ $json.baseId }}",
        "sheetIdOrName": "={{ $json.sheetId }}",
        "operatorId": "={{ $('getUnionId').item.json.unionId }}"
      },
      "type": "CUSTOM.dingtalkNode",
      "typeVersion": 1,
      "position": [
        1184,
        496
      ],
      "id": "f7a9e705-ddd7-40b7-8815-5755284bd2ea",
      "name": "AI表格 获取所有字段",
      "credentials": {
        "dingtalkApi": {
          "id": "mEh0ffWLDuvnPoI3",
          "name": "Dingtalk account"
        }
      }
    },
    {
      "parameters": {
        "resource": "notable",
        "operation": "notable.field.create",
        "baseId": "={{ $json.baseId }}",
        "sheetIdOrName": "={{ $json.sheetId }}",
        "operatorId": "={{ $('getUnionId').item.json.unionId }}",
        "body": "={\"name\":\"状态\",\"property\":{\"choices\":[{\"name\":\"完成\"},{\"name\":\"失败\"}]},\"type\":\"singleSelect\"}"
      },
      "type": "CUSTOM.dingtalkNode",
      "typeVersion": 1,
      "position": [
        1184,
        704
      ],
      "id": "f9658988-b5c4-4607-8a88-141cca922480",
      "name": "AI表格 创建字段",
      "credentials": {
        "dingtalkApi": {
          "id": "mEh0ffWLDuvnPoI3",
          "name": "Dingtalk account"
        }
      }
    },
    {
      "parameters": {
        "resource": "notable",
        "operation": "notable.field.update",
        "baseId": "={{ $('AI表格 解析URL').item.json.baseId }}",
        "sheetIdOrName": "={{ $('AI表格 解析URL').item.json.sheetId }}",
        "fieldIdOrName": "={{ $json.id }}",
        "operatorId": "={{ $('getUnionId').item.json.unionId }}",
        "body": "={\"name\":\"性别\",\"property\":{\"choices\":[{\n        \"name\": \"男\"\n    }, {\n        \"name\": \"女\"\n    }]}, \"type\": \"singleSelect\"}"
      },
      "type": "CUSTOM.dingtalkNode",
      "typeVersion": 1,
      "position": [
        1536,
        704
      ],
      "id": "bd24121c-f827-4c2c-bfae-6b0e98ecea42",
      "name": "AI表格 更新字段",
      "credentials": {
        "dingtalkApi": {
          "id": "mEh0ffWLDuvnPoI3",
          "name": "Dingtalk account"
        }
      }
    },
    {
      "parameters": {
        "resource": "notable",
        "operation": "notable.field.delete",
        "baseId": "={{ $('AI表格 解析URL').item.json.baseId }}",
        "sheetIdOrName": "={{ $('AI表格 解析URL').item.json.sheetId }}",
        "fieldIdOrName": "={{ $json.id }}",
        "operatorId": "={{ $('getUnionId').item.json.unionId }}"
      },
      "type": "CUSTOM.dingtalkNode",
      "typeVersion": 1,
      "position": [
        1840,
        704
      ],
      "id": "14191d6e-88a6-4948-868b-b3e306681904",
      "name": "AI表格 删除字段",
      "credentials": {
        "dingtalkApi": {
          "id": "mEh0ffWLDuvnPoI3",
          "name": "Dingtalk account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI表格 - 字段操作",
        "height": 464,
        "width": 1008,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1088,
        400
      ],
      "id": "b867e9dc-732b-4ccc-b98d-c9cee302d4dc",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "用户管理 查询用户详情",
            "type": "main",
            "index": 0
          },
          {
            "node": "应用授权 获取当前应用的 Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI表格 解析URL": {
      "main": [
        [
          {
            "node": "AI表格 新建数据表",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI表格 新增记录",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI表格 获取数据表",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI表格 获取所有数据表",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI表格 列出多行记录",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI表格 获取所有字段",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI表格 创建字段",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "用户管理 查询用户详情": {
      "main": [
        [
          {
            "node": "getUnionId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI表格 删除数据表": {
      "main": [
        []
      ]
    },
    "AI表格 新建数据表": {
      "main": [
        [
          {
            "node": "AI表格 更新数据表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI表格 更新数据表": {
      "main": [
        [
          {
            "node": "AI表格 删除数据表",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI表格 新增记录": {
      "main": [
        [
          {
            "node": "AI表格 更新记录",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI表格 获取记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI表格 列出多行记录": {
      "main": [
        []
      ]
    },
    "getUnionId": {
      "main": [
        [
          {
            "node": "AI表格 解析URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI表格 更新记录": {
      "main": [
        [
          {
            "node": "AI表格 删除多行记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI表格 获取记录": {
      "main": [
        []
      ]
    },
    "AI表格 获取所有数据表": {
      "main": [
        []
      ]
    },
    "AI表格 获取数据表": {
      "main": [
        []
      ]
    },
    "应用授权 获取当前应用的 Access Token": {
      "main": [
        []
      ]
    },
    "AI表格 创建字段": {
      "main": [
        [
          {
            "node": "AI表格 更新字段",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI表格 更新字段": {
      "main": [
        [
          {
            "node": "AI表格 删除字段",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2292bd4a-84bb-471d-ab20-36349a3bbb9d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38ac5f15d75e255b7f08c1c3e5483b90223067a13ec0074703142631d825e0fe"
  },
  "id": "9dO5QJ3gQlLi7bxY",
  "tags": []
}